@mixin font-title($size:1.8rem, $height:2.6rem) {
  font-family: $font-stack;
  color: $title-color;
  font-size: $size;
  font-weight: 700;
  line-height: $height;
  text-align: center;
  text-transform: uppercase;
}
@mixin font-desc($size:1.4rem, $height:2.4rem) {
  font-family: $font-stack;
  color: $text-color;
  font-size: $size;
  font-weight: 400;
  line-height: $height;
  text-align: center;
  text-transform: uppercase;
}
