$font-stack: "PT Sans", "Arial", sans-serif;
$primary-color: #ffffff;
$accent-color: #81b3d2;
$text-color: #333333;
$title-color: #000000;
$reasons-color: #eeeeee;
$btn: #81b3d2;
$btn-nvr: #669ec0;
$btn-down: #5496bd;
$btn-dis: #e5e5e5;

$down:#b7b7b7;
$active:#766357;
$active-hvr:#604e43;
$active-dw:#d6d0cc;


$btn-hvr:#669ec0;
$btn-dw:#5496bd;
$btn-dw-tx:#88b6d1;
$btn-dis:#e5e5e5;
