@import "global/_fonts.scss";
@import "_variables.scss";
@import "_mixins.scss";
@import "blocks/_nav.scss";
@import "blocks/_preview.scss";
@import "blocks/_reasons.scss";
@import "blocks/_reasons-item.scss";
@import "blocks/_recommendation.scss";
@import "blocks/_recomendarion-item.scss";
@import "blocks/_offer.scss";
@import "blocks/_btn.scss";
@import "blocks/_footer.scss";
@import "blocks/_gallery.scss";
@import "blocks/_copyright.scss";
@import "blocks/_video.scss";
@import "blocks/_map.scss";
@import "blocks/_social.scss";
@import "blocks/_review.scss";
@import "blocks/_review-part.scss";
@import "normalize";
.index_wrapper {
  width: 320px;
  margin: 0 auto;
}

.wrapper {
  width: calc(100% - 40px);
  margin: 0 auto;
}
@media (min-width: 768px) {
  .index_wrapper {
    width: 768px;

  }

  .wrapper {
    width: calc(100% - 154px * 2);
  }
}
@media (min-width: 1200px) {
  .index_wrapper {
    width: 1200px;
  }

  .wrapper {
    width: calc(100% - 370px * 2);
  }
}
