:root {
  font-size: 62.5%;
}
@font-face {
  font-family: 'PT Sans';
  src: url('../fonts/ptsans.woff'), url('../fonts/ptsans.woff2');
  font-style: normal;
}
@font-face {
  font-family: 'PT Sans';
  src: url('../fonts/ptsansbold.woff'), url('../fonts/ptsansbold.woff2');
  font-style: bold;
}
