button{
border: none;
}
.btn {

  height: 58px;
margin-bottom: 0px;
display: flex;
justify-content: center;

}

.btn__review,
.btn__search,
,.btn__pop {
  @include font-title(2.1rem,5.6rem);
  vertical-align: middle;
  text-decoration: none;
  color: $primary-color;
  background-color: $accent-color;
width: 100%;
}
.btn:hover,.btn__review:hover,
.btn__search:hover{
background-color: $btn-hvr;
}

.btn:active,.btn__review:active,
.btn__search:active{
background-color: $btn-dw;
color: $btn-dw-tx;
}
