.copyright {
  padding-top: 50px;
  padding-bottom: 35px;
  display: inline-block;
}

.copyright__text {
  @include font-title(1.4rem,2.6rem);
  vertical-align: top;
  font-weight: 400;
  display: inline-block;
}
@media (min-width:768px) {
  .copyright {
    padding-top: 0;
    padding-bottom: 0;
  }
}
