.copyright {
  padding-top: 57px;
  padding-bottom: 35px;
  display: inline-block;
}

.copyright__text {
  @include font-title(1.4rem,2.6rem);
  vertical-align: top;
  font-weight: 400;
  display: inline-block;
}
.copyright__image{
position: relative;
top: 11px;
    left: 4px;
}
@media (min-width:768px) {
  .copyright {
    padding-top: 0;
    padding-bottom: 0;
  }
}
