.footer {
  @include font-title();
}

.footer__hashtag {
  @include font-title(2.1rem);
  padding-bottom: 15px;
  padding-bottom: 0px;
      margin-bottom: 0px;
}
@media (min-width:768px) {
  .footer {
    display: flex;
    justify-content: space-around;
  }
}
@media (min-width:768px) {
  .footer__hashtag{
    margin-top: 10px;
}
.footer{


}
}
