.footer {
  @include font-title();
}

.footer__hashtag {
  @include font-title(2.1rem);
  padding-bottom: 15px;
  padding-bottom: 0;
  margin-bottom: 0;
}
@media (min-width:768px) {
  .footer {
    display: flex;
    padding-bottom: 30px;
justify-content: space-around;
  }

  .footer__hashtag {

  }
}
@media (min-width:1200px) {
  .footer.wrapper {
    padding: 4px 51px 35px 131px;
  }
  .footer {

  justify-content: space-between;
  }

  .footer__hashtag {
width: 150px;
  }
}
