.gallery {

}
.line{
width: 100%;
height: 1px;
background-color: #e5e5e5;
margin-bottom:23px;

}
.gallery__item {
  font-family: $font-stack;
  color: $title-color;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
position: relative;
}
.gallery__description{
display: flex;
flex-direction: column;
    padding: 9px 0px;
}
.gallry__title {
  text-transform: uppercase;
@include font-title(1.4rem,2.4rem);
text-align: left;
}

.gallry__author {
  color: $text-color;
  font-weight: 400;
}

.gallry__picture {
  width: 100%;
}

.gallry__like {
  padding-bottom: 7px;
      padding-left: 36px;
      padding-top: 8px;
  &::after {
    content: "";
    position: absolute;
    background: url("../img/icon-like.svg") no-repeat;
    width: 23px;
    height: 21px;
    left: 0px;

  }
}
@media (min-width:768px) {
  .gallery {
display: flex;
flex-wrap: wrap;
}
  .gallery.wrapper{
    padding: 33px 60px 0;
}
.line{
display: none;
}
.gallery__text{
padding-left: 20px;
padding-bottom: 20px;

}
.gallry__like{
padding-right: 20px;
&::after{
    left: 308px;
}
}
.gallry__like--far::after{
left:686px;
}
.gallery__item{
width: 50%;

&:first-child{
width: 100%;
    margin-bottom: -7px;
}

}
.gallery__description{
background-color: #f2f2f2;
flex-direction: row;
justify-content: space-between;
}
}
@media (min-width:1200px) {
  .gallery.wrapper{
    padding:  0;
}
  .gallery__description{
position: absolute;
  background-color: rgba(0,0,0,0.3);
color: $primary-color;
bottom: 8px;
width: 100%;
  }
.gallry__author{
color: $primary-color;
}
.gallry__title{
color: $primary-color;
}
.gallery__item{
width: 33.333333%;
&:first-child{
width: 100%;
}
}
.gallry__like::after{
    left: 330px;
}

.gallry__like--far::after{
left:1115px;
}
}
