.nav {
  background-color: $accent-color;
  display: flex;
  flex-direction: column;
}

.nav__link {
  @include font-title(1.8rem,4rem);
  color: $primary-color;
  text-decoration: none;
  padding: 8px 0;
  box-shadow: 0 1px 0 0 rgba(1, 1, 1, 0.2);
}

.nav__link--active {
  background-color: $primary-color;
  order: 1;
  padding: 0;
  position: relative;
  height: 56px;
  box-shadow: none;
}

.nav__link:nth-child(5) {
  box-shadow: 0 -7px 4px -3px rgba(91, 120, 147, 0.2) inset;
}

.nav__toggle {
  display: block;
  font-size: 0;
  line-height: 0;
  border: 0;
  padding: 0;
}
@media (max-width: 767px) {
  .nav__link:hover {
    background-color: $btn-hvr;
  }

  .nav__link:active {
    background-color: $btn-dw;
    color: $btn-dw-tx;
  }

  .nav__link--active:hover {
    background-color: $primary-color;
  }

  .nav__toggle::after {
    content: " ";
    position: absolute;
    background-image: url("../img/icon-menu.svg");
    top: 16px;
    right: 18px;
    width: 23px;
    height: 22px;
    z-index: 2;
  }

  .nav--closed .nav__toggle::after {
    background-image: url("../img/icon-menu.svg");
  }

  .nav--active .nav__toggle::after {
    background-image: url("../img/icon-cross.svg");
    top: -208px;
  }

  .nav--closed .nav__link:not(.nav__link--active) {
    display: none;
  }

  .nav--active .nav__link {
    display: block;
  }

  .nav--nojs {
    .nav__link {
      display: block;
    }
  }

  .nav--nojs .nav__toggle::after {
    display: none;
  }
}
@media (min-width: 768px) {
  .nav__link--activate {
    color: #766357;
  }

  .nav__link:nth-child(5) {
    box-shadow: none;
  }

  .nav__link:hover {
    color: $accent-color;
  }

  .nav__link:active {
    color: $down;
  }

  .nav__link--now:hover {
    color: $active-hvr;
  }

  .nav__link--now:active {
    color: $active-dw;
  }

  .nav {
    flex-direction: row;
    background-color: $primary-color;
    justify-content: space-around;
  }

  .nav__link:not(.nav__link--active) {
    padding-top: 14px;
  }

  .nav__link:nth-child(4) {
    order: 2;
  }

  .nav__link:nth-child(3) {
    order: 0;
  }

  .nav__link:nth-child(2) {
    width: 108px;
  }

  .nav__link:nth-child(5) {
    order: 4;
  }

  .nav__link--active {}

  .nav__link {
    box-shadow: none;
    @include font-title(1.4rem,2.6rem);
  }

  .nav__link--close,
  .nav__toggle {
    &:after {
      display: none;
    }
  }

  .nav__link--now {
    color: $active;
  }
}
@media (min-width:1200px) {
  .nav {
    justify-content: space-between;
  }

  .nav__link:not(.nav__link--active) {
    padding-top: 14px;
  }

  .nav__link:nth-child(4) {
    order: 2;
    padding-left: 87px;
  }

  .nav__link:nth-child(3) {
    order: 0;
    padding-left: 127px;
  }

  .nav__link:nth-child(2) {
    padding-left: 65px;
  }

  .nav__link:nth-child(5) {
    padding-left: 127px;
    padding-right: 73px;
    order: 4;
  }

  .nav__link--active {
    padding-left: 88px;
  }
}
