.offer {
  text-align: center;
  padding: 5px 0 50px;
}

.offer__title {
  @include font-title(2.1rem,26px);
  margin: 21px 0 0;
}

.offer.wrapper {
  padding: 7px 20px;
}

.offer__description {
  @include font-desc();
  padding: 5px 0 21px;
}
@media (min-width:768px) {
  .offer.wrapper {
    padding: 0 155px;
  }

  .offer__title {
    margin-top: 56px;
    font-size: 3rem;
  }

  .offer__description {
    padding: 18px 31px 28px;
  }
}
@media (min-width:1200px) {
  .offer.wrapper {
    padding: 0 371px;
  }

  .offer__title {
    margin-top: 61px;

  }

  .offer__description {
    padding: 17px 0 33px 35px;
  }
}
