.offer {
  text-align: center;
  padding: 5px 0 50px;
}

.offer__title {
  @include font-title(2.1rem,26px);
  margin: 0;
  margin-top: 21px;
}
.offer.wrapper{
padding: 0 20px;
}
.offer__description {
  @include font-desc();
    padding: 5px 0px 21px;
}
@media (min-width:768px) {
.offer.wrapper{
padding: 0 187px;
}
.offer__title{
  margin-top: 43px;
    font-size: 3rem;
}
.offer__description{
padding: 17px 0px 21px;
}
}
@media (min-width:1200px) {
  .offer.wrapper{
  padding: 0 371px;
  }
      .offer__title{
    margin-top: 93px;
}
.offer__description{
    padding: 17px 0px 33px 35px;
}
}
