.preview {
  background: url("../img/introduce.jpg") no-repeat;
  width: 100%;

}

.preview__image {
  width: 100%;
  background-size: contain;
  padding-top: 90px;
padding-bottom: 100px;
}
@media (min-width:768px) {
  .preview__image {
    padding-top: 60px;
  }
}
