.preview {
  background: #5b7893 url("../img/bg-back-mobile@1x.jpg");
  width: 100%;
  margin-bottom: 40px;
  height: 389px;
  background-size: cover;
  background-color: $primary-color;
}

.preview::after {
  content: " ";
  display: block;
  background: url("../img/bg-intro-triangle-mobile.svg") no-repeat;
  position: relative;
  width: 100%;
  height: 27px;
  bottom: 43px;
}

.preview--triangle::after {
  bottom: 62px;
}

.mini .preview {
  height: 158px;
  margin-bottom: 38px;
}

.preview__image {
  background-size: contain;
  display: block;
  width: 72%;
  padding-top: 53px;
  padding-bottom: 102px;
  margin: 0 auto;
}

.preview__image--big {
  width: 88%;
  padding-top: 91px;
}

.preview__triangle {
  bottom: 42px;
  position: relative;
  width: 333px;
  margin-left: -6px;
}

.preview__triangle__mi {
  bottom: 62px;
}

.reasons__triangle {
  position: relative;
  left: -20px;
}
@media (max-width: 767px) and (min-resolution: 144dpi), (max-width: 767px) and (min-resolution: 1.5dppx) {
  .preview {
    background-image: url("../img/bg-back-mobile@2x.jpg");
  }
}
@media (min-width:768px) {
  .preview__image {
    width: 458px;
    padding: 0;
    height: 100%;
    margin-bottom: 9px;
  }

  .preview::after {
    background: url("../img/bg-intro-triangle-tablet.svg") no-repeat;
    height: 57px;
    bottom: 66px;
  }

  .preview--triangle::after {
    bottom: -29px;
  }

  .preview__image--mini {
    padding: 0;
    height: 100%;
    margin-bottom: -86px;
  }

  .preview {
    height: 518px;
  }

  .mini .preview {
    background-position: 0 302px;
    height: 290px;
  }

  .preview__triangle {
    bottom: 65px;
    position: relative;
    width: 772px;
    margin-left: -2px;
  }

  .preview__triangle__mi {
    padding-top: 95px;
    padding-bottom: 83px;
  }

  .reasons__triangle {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .preview {
    background-image: url("../img/bg-back-tablet@1x.jpg");
  }
}
@media(min-width: 768px) and (max-width: 1199px) and (min-resolution: 144dpi), (min-width: 768px) and (max-width: 1199px) and (min-resolution: 1.5dppx) {
  .preview {
    background-image: url("../img/bg-back-tablet@2x.jpg");
  }
}
@media (min-width: 1200px) {
  .preview {
    background-image: url("../img/bg-back-desktop@1x.jpg");
    height: 518px;
    margin-bottom: 41px;

    .preview__triangle {
      bottom: 50px;
      width: 1203px;
    }
  }

  .preview::after {
    bottom: 51px;
    background: url("../img/bg-intro-triangle-desktop.svg") no-repeat;
  }

  .preview--triangle::after {
    bottom: 51px;
  }

  .preview__triangle__mi {
    bottom: 62px;
    padding-top: 0;
    padding-bottom: 0;
  }

  .mini .preview {
    background-position: 0 302px;
    height: 301px;
    margin-bottom: 102px;
  }

  .preview__image--big {
    padding-bottom: 84px;
  }

  .preview__image {
    width: 458px;
    padding: 0;
    margin-bottom: -6px;
    height: 100%;
  }

  .preview__image--mini {
    margin-bottom: -6px;
    padding: 0;
    height: 100%;
  }
}
@media (min-width: 1200px) and (min-resolution: 144dpi), (min-width: 1200px) and (min-resolution: 1.5dppx) {
  .preview {
    background-image: url("../img/bg-back-desktop@2x.jpg");
  }
}
