.preview-text {
  background-color: $primary-color;
}

.preview-text__main-title {
  @include font-title(1.9rem,2.6rem);
  padding-bottom: 17px;
}

.preview-text__main-description {
  @include font-desc(1.4rem,2.5rem);
  padding: 0 5px 26px;
  margin: 0;
}

.preview-text__main-title--form {
  padding: 0 10px 11px;
}

.preview-text__main-title--padd {
  margin-bottom: 9px;
}

.preview-text__main-description--form {
  padding: 0 0 14px;
}

.preview-text__main-description--padd {
  padding: 0 5px 26px;
}

.preview-text--line::after {
  content: " ";
  position: relative;
  border-top: 1px solid #dbdbdb;
  z-index: 4;
  width: 100%;
  display: block;
  margin-bottom: 20px;
}
@media (min-width:768px) {
  .preview-text__main-title {
    padding: 30px 100px 15px;
    font-size: 2rem;
  }

  .preview-text--line::after {
    display: none;
  }

  .preview-text__main-title {
    font-size: 3rem;
    line-height: 3rem;
  }

  .preview-text__main-title--mini {
    font-size: 2.2rem;
    line-height: 2.6rem;
    padding-top: 10px;
  }

  .preview-text__main-description {
    padding: 0 116px 23px;
  }

  .preview-text__main-description--padd {
    padding: 0 95px 27px;
  }

  .preview-text__main-description--form {
    padding: 0 116px 49px;
  }

  .preview-text__main-title--padd {
    padding: 33px 100px 20px;
  }

  .reasons__text--line::after {
    display: none;
  }

  .preview-text__main-title--form {
    padding-top: 35px;
    padding-bottom: 9px;
  }
}
@media (min-width:1200px) {
  .gallery__text {
    padding-bottom: 6px;
    padding-top: 12px;
  }

  .preview-text__main-title {
    padding: 8px 217px 18px;
  }

  .preview-text__main-title--mini {
    padding: 9px 280px 13px;
  }

  .preview-text__main-description {
    padding: 0 317px 70px;
  }

  .preview-text__main-description--padd {
    padding: 0 290px 27px;
  }

  .preview-text__main-description--form {
    padding-bottom: 35px;
  }

  .preview-text__main-title--form {
    padding: 7px 100px 8px;
  }
}
