.preview-text__main-title {
  @include font-title(1.9rem,2.6rem);
    padding-bottom: 14px;
}

.preview-text__main-description {
  @include font-desc(1.4rem,2.4rem);
padding: 0 5px 26px;
    margin: 0;

}
.preview-text__main-title--form{
  padding: 0px 10px 13px;


}
.preview-text__main-description--form{
padding: 0;
padding-bottom: 11px;
}
.preview-text__main-description--padd{
    padding: 0 5px 29px;

}
.line-mar {
    margin-bottom: -3px;
}
@media (min-width:768px) {
  .preview-text__main-title {
    padding: 30px 100px 15px;
  font-size: 2rem;
  }
  .preview-text__main-title {
    font-size: 3rem;
    line-height: 3rem;
  }
  .preview-text__main-title--mini {
    font-size: 2.2rem;
    line-height: 2.6rem;
padding-top: 10px;
  }
.preview-text__main-description{
    padding: 0px 116px;
padding-bottom: 23px;
}
.preview-text__main-description--padd{
padding: 0px 95px;
padding-bottom: 27px;

}
.preview-text__main-title--padd{
padding: 33px 100px 9px;
}
}
@media (min-width:1200px) {
.gallery__text{
padding-bottom: 6px;
padding-top: 12px;
}
  .preview-text__main-title{
padding: 30px 280px 7px;
}
.preview-text__main-title--mini{
    padding: 9px 280px 13px;
}
.preview-text__main-description{
padding: 0 317px;

padding-bottom: 70px;
}
.preview-text__main-description--padd{
padding: 0 290px;
padding-bottom: 29px
}
.preview-text__main-title {
    padding: 33px 100px 11px;

}
.preview-text__main-description--form{
    padding-bottom: 19px;
}
.preview-text__main-title--form{
      padding: 30px 100px 8px;
}
}
