.preview {
  background: url(../img/bg-intro-triangle-mobile.svg) no-repeat center bottom, url("../img/introduce.jpg") no-repeat;
  width: 99.5%;
margin-bottom: 23px;

}

.preview__image {
  width: 100%;
  background-size: contain;
  padding-top: 90px;
padding-bottom: 100px;
}
@media (min-width:768px) {
  .preview__image {
    padding-top: 60px;
  }
  .preview {
      min-height: 525px;

  }
}
