.reasons-item {
  background-color: $reasons-color;
  padding: 30px 0;
  box-sizing: border-box;
}

.reasons-item__title {
  @include font-title();
  padding-bottom: 21px;
}

.reasons-item__description,
.reasons-item__number {
  @include font-desc(1.4rem,2.1rem);
}

.reasons-item__description {
  padding-top: 26px;
}

.reasons-item--bg-blue {
  background-color: $accent-color;

  .reasons-item__description,
  .reasons-item__number,
  .reasons-item__title {
    color: $primary-color;
  }
}
@media (min-width:768px) {
  .reasons-item {
    padding: 0 45px;
    width: 33.3333%;
  }
}
@media (min-width:1200px) {
  .reasons-item {
    padding: 0 70px;
  }
}
