.reasons {
  color: $primary-color;
  text-align: center;
background-color: $reasons-color;
box-sizing: border-box;


}

.reasons__item {
  box-sizing: border-box;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;

}
.reasons__image {
  width: 100%;
}


.reasons__title {
  @include font-title();
  padding-bottom: 21px;
}

.reasons__description,
.reasons__number {
  @include font-desc(1.4rem,2.1rem);
}

.reasons__description {
  padding-top: 26px;
}

.reasons--bg-blue {
  background-color: $accent-color;
}
  .reasons__description--bg-blue,
  .reasons__number--bg-blue,
  .reasons__title--bg-blue {
    color: $primary-color;
  }

@media (min-width:768px) {
  .reasons {
    display: flex;
    flex-direction: row;
  }
  .reasons__item {
display: flex;
flex-direction: row;
    width: 100%;
  }
.reasons__text{
width: 256px;
box-sizing: border-box;
}

  .reasons__image {
align-items: flex-end;
width: 512px;
box-sizing: border-box;
  }

  .reasons__image--one {
    order: -1;
  }
}
@media (min-width:1200px) {
  .reasons__text{
  width: 400px;
  }
  .reasons__image {
    width: 800px;
  }

}
