.recomendarion-item {
  box-sizing: border-box;
  position: relative;

  &:before {
    content: " ";
    position: absolute;
    background-size: contain;
    width: 40px;
    height: 40px;
  }

  &:first-child:before {
    background: url("../img/icon-house.svg") no-repeat;
    left: 8px;
    background-size: contain;
  }

  &:nth-child(2):before {
    background: url("../img/icon-burger.svg") no-repeat;
    left: 8px;
    background-size: contain;
  }

  &:nth-child(3):before {
    background: url("../img/icon-gift.svg") no-repeat;
    left: 8px;
    background-size: contain;
  }

  &:nth-child(3) .recomendarion-item__description {
    padding-bottom: 40px;
  }
}

.recomendarion-item__title {
  padding-left: 50px;
  @include font-title();
  text-align: left;
  padding-top: 30px;
  padding-bottom: 13px;
}

.recomendarion-item__description {
  @include font-desc(1.4rem,2.1rem);
  padding-left: 50px;
  text-align: left;
  margin: 0;
}
@media (min-width:768px) {
  .recommendation {
    margin-bottom: 20px;
  }

  .recomendarion-item {
    width: 33.3333%;
  }

  .recomendarion-item__description,
  .recomendarion-item__title {
    padding-left: 0;
    text-align: center;
  }

  .recomendarion-item__title {
    padding-top: 75px;
    font-size: 2rem;
  }

  .recomendarion-item__description {
    padding-top: 10px;
  }

  .recomendarion-item {
    &:before {
      position: relative;
      margin: 0 auto;
      display: block;
      width: 80px;
      height: 80px;
      background-position: center bottom;
    }

    &:nth-child(2) {
      order: 2;
    }

    &:first-child:before {
      top: 56px;
      left: 0;
    }

    &:nth-child(2):before {
      left: -257px;
      top: 58px;
    }

    &:nth-child(3):before {
      top: 51px;
      left: 262px;
    }

    &:nth-child(3) .recomendarion-item__description {
      top: 56px;
      left: 0;
    }
  }
}
@media (min-width:1200px) {
  .recommendation {
    margin-bottom: 41px;
  }

  .recomendarion-item {
    width: 33.3333%;

    &:nth-child(2):before {
      left: -399px;
    }

    &:nth-child(3):before {
      left: 407px;
    }

    .recomendarion-item:nth-child(2) {
      padding: 0 104px;
    }

    .recomendarion-item:nth-child(3) {
      padding: 0 42px;
    }
  }
}
