.recommendation {
  width: 100%;
  background-color: $primary-color;
  position: relative;
  box-sizing: border-box;
  padding-top: 3px;
}
@media (min-width:768px) {
  .recommendation {
    display: flex;
    padding-top: 4px;
    margin-bottom: 23px;
  }
}
@media (min-width:1200px) {
  .recommendation {
    padding-top: 5px;
    margin-bottom: 45px;
  }
}
