.review {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: $primary-color;
}
@media (min-width:768px) {
  .review {
    flex-direction: row;
    justify-content: flex-start;
  }
}
