.social {}

.social__btn {
  width: 46px;
  height: 48px;
  background-color: $accent-color;
  display: inline-block;
  margin-right: 2px;
  position: relative;
  top: 35px;
  vertical-align: top;

  &:before {
    content: "";
    position: absolute;
    width: 46px;
    height: 48px;
  }
}

.social__icon {
  fill: $primary-color;
  position: absolute;
}

.social__icon:active {
  fill: #88b6d1;
}

.social__btn:hover {
  background-color: $btn-hvr;
}

.social__btn:active {
  background-color: $btn-dw;
}

.social__icon--tw {
  top: 16px;
  right: 15px;
}

.social__icon--yb {
  top: 17px;
  right: 13px;
}

.social__icon--fb {
  top: 13px;
  right: 19px;
}
@media (min-width:768px) {
  .social {
    margin-left: 112px;
  }

  .social__btn {
    top: 4px;
  }
}
@media (min-width:1200px) {
  .social {
    margin-left: 258px;
  }
}
