.video {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 53px;
}

.video__title {
  @include font-title();
  padding: 12px 0;
}

.video__description {
  @include font-desc();
  padding: 0 10px 20px;
}

.video__image {
  width: 100%;
}

.video__dot {
  z-index: 4;
}

.video__control-bar {
  display: flex;
  width: 280px;
  height: 66px;
  background-color: #f2f2f2;
}

.video__icon {
  margin-top: 11px;
  margin-right: 22px;
  z-index: 5;
  display: inline-block;
  vertical-align: top;
  height: 21px;
  width: 21px;
  fill: #5c6870;
}

.video__icon:hover {
  fill: #333333;
}

.video__icon:active {
  fill: rgba(193,193,193,.3);
}

.video__bar {
  z-index: 3;
  width: 280px;
  height: 44px;
  background-color: rgba(0, 0, 0, 0.6);
  position: relative;
  left: -279px;
  top: -44px;
}

.video__icon--replay {
  margin-top: 20px;
  margin-left: 22px;
}

.video__icon--subtitles {
  height: 20px;
  width: 34px;
  margin-top: 21px;
  margin-left: 108px;
}

.video__icon--fullscreen {
  height: 24px;
  width: 21px;
  margin-left: 7px;
  margin-top: 19px;
}

.video__dot {
  height: 4px;
  width: 280px;
}

.video__dot::after {
  content: "";
  display: block;
  position: relative;
  background-color: rgba(105,105,105, 0.6);
  width: 235px;
  height: 3px;
  top: 14px;
  left: 21px;
}

.video__dot::before {
  content: "";
  display: block;
  position: relative;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #ffffff;
  top: 19px;
  left: 58px;
  z-index: 10;
}
@media (min-width:768px) {
  .video {
    padding: 0 60px;
  }

  .video__title {
    padding: 65px 0 14px;
    font-size: 3rem;
    line-height: 3rem;
  }

  .video__description {
    padding: 1px 57px 59px;
  }

  .video__icon {
    fill: $primary-color;
  }

  .video__player.wrapper {
    padding: 0;
    margin-bottom: -24px;
  }

  .video__item:first-child {
    order: -2;
  }

  .video__dot::after {
    width: 389px;
  }

  .video__player {
    width: 768px;
    position: relative;
    bottom: 63px;
  }

  .video__control-bar {
    display: flex;
    background-color: rgba(0, 0, 0, 0.6);
    justify-content: space-around;
    width: 648px;
    height: 91px;
    position: relative;
    top: -28px;
  }

  .video__bar {
    position: static;
    background-color: rgba(0, 0, 0, 0);
    order: -1;
  }

  .video__icon--replay {
    margin-top: 34px;
    margin-left: 23px;
  }

  .video__icon--subtitles {
    margin-top: 35px;
    margin-left: 143px;
  }

  .video__icon--fullscreen {
    margin-left: 3px;
    margin-top: 34px;
  }

  .video__dot::before {
    top: 43px;
    left: 121px;
  }

  .video__dot::after {
    top: 36px;
    left: -11px;
  }
}
@media (min-width:1200px) {
  .video {
    padding: 0;
    margin-bottom: 41px;
  }

  .video__image {
    width: 66.66666%;
  }

  .video__player {
    width: 801px;
  }

  .video__control-bar {
    width: 800px;
  }

  .video__icon--replay {
    margin-left: 25px;
  }

  .video__dot::after {
    width: 540px;
    left: 5px;
  }

  .video__dot::before {
    left: 118px;
  }

  .video__icon--subtitles {
    margin-left: 300px;
  }

  .video__title {
    padding: 69px 0 12px;
  }

  .video__description {
    padding: 2px 315px 57px;
  }
}
