.video {
display: flex;
flex-direction: column;
align-items: center;

}

.video__title {
  @include font-title();
  padding: 40px 0;
}

.video__description {
  @include font-desc();
  padding-bottom: 40px;
}

.video__image {
  width: 100%;
}
.video__player{
margin-top: 0px;
}

.video__dot {
    z-index: 4;
}
.video__control-bar {

    display: flex;

    width: 280px;
    height: 66px;
    background-color: #f2f2f2;
}
.video__icon {
    margin-top: 11px;
    margin-right: 22px;
    z-index: 5;
    display: inline-block;
    height: 21px;
    width: 21px;
}
.video__bar{
z-index: 3;
    width: 280px;
    height: 44px;
    background-color: rgba(0, 0, 0, 0.6);
    position: relative;
    left: -284px;
        top: -44px;
}
.video__icon--replay {
    margin-left: 23px;
}
.video__icon--subtitles {
    height: 20px;
    width: 34px;
    margin-left: 120px;
}
.video__icon--fullscreen {
    height: 24px;
    width: 21px;
    margin-left: 0px;
}
.video__dot{
height: 4px;
width: 280px;
}
.video__dot::after{
content: "";
display: block;
position: relative;
background-color: rgba(105,105,105, 0.6);
width: 210px;
height: 3px;
top: 18px;
}
.video__dot::before{
content: "";
display: block;
position: relative;
width: 8px;
height: 8px;
border-radius: 50%;
background-color: #ffffff;
top: 23px;
left: 50px;
z-index: 10;

}
@media (min-width:768px){
.video__player.wrapper{
padding: 0;
}
.video__item:first-child{
order:-2;
}
.video__dot::after{
width: 340px;
}
.video__player{
width: 768px;
position: relative;
    bottom: 66px;
}
.video__control-bar{
display: flex;
background-color: rgba(0, 0, 0, 0.6);
justify-content: space-around;
width: 768px;
}

.video__bar{
position: static;
background-color: rgba(0, 0, 0, 0);
order:-1;
}

}
@media (min-width:1200px) {
  .video__image {
    width: 66.66666%;

  }
  .video__player{
  width: 800px;

  }
  .video__control-bar{

  width: 800px;
  }
}
